*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

.cat{
  max-width: 150px;
  width: 100%;
}


.logo{

  display: flex;
  align-items: center;
}

 nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;

}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%; 
}

li{
 list-style: none;
 font-size: 22px;
} 

li:hover{
  color: #640c0c;
  cursor: pointer;
}

.burger div{
display: none;
  
}

.activeHome{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
 


@media  screen and (max-width: 1000px) {
  
  ul{
    width: 46%; 
  }
  }





@media  screen and (max-width: 768px) {
  body{
     overflow-x:hidden; 
  }
  
  
  ul{
    width: 50%; 
  }

  .burger div{
    width: 25px;
    height: 4px;
    background-color: #2a2828;
    margin: 5px;
    display: block;
    cursor: pointer;
  }
  ul {
    position: absolute;
    right: 0;
    height: 82vh;
    top: 9vh;
    background-color:#faebd7;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
   
  }

  .nav-active{
    transform: translateX(0%);
  }

  .logo{
    justify-content: center;
    align-items: center;
  }

  .burger.close{
    transform: rotate(180deg);
  }

    .burger.close .line1{
      transform: rotate(45deg) translate(7px, 7px);
  }

  .burger.close .line2{
      opacity: 0;
  }

  .burger.close .line3{
      transform: rotate(-45deg) translate(5px, -5px);
  }

}