*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

.cat{
  max-width: 150px;
  width: 100%;
}


.logo{

  display: flex;
  align-items: center;
}

 nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;

}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%; 
}

li{
 list-style: none;
 font-size: 22px;
} 

li:hover{
  color: #640c0c;
  cursor: pointer;
}

.burger div{
display: none;
  
}

.activeHome{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.headingimg{
  background-image: url(/pictures/new-york.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.Api-calling{
  font-size: 2rem;
  color: #2a2828;
  padding: 25px;
  background-color: #92b4c0;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.card {
  width: 300px;
  height: 250px;
  background-color: #e6e6e6eb;
  margin-top: 18px;
  margin-bottom: 18px;
  transition-duration: 500ms; 
}

.card:hover{
  box-shadow:
  1.6px 1.6px 1.2px rgba(0, 0, 0, -0.001),
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.001),
  5.8px 5.8px 4.6px rgba(0, 0, 0, 0.005),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.01),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.016),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.023),
  25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.04),
  56.3px 56.3px 45px rgba(0, 0, 0, 0.052),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;

}

.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 25px;
  max-width: 1000px;
  margin: 0 auto; 

}

.nation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #2a2828;
  color: #ffffff;
}
 
.error{
  color: red;
  text-align: center;
}



.contact {
  display: grid;
  grid-template-columns: 500px;
  margin: 25px auto;
  max-width: 500px;
  font-size: 1.2rem;
  
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px; 
  font-family: 'Fascinate', cursive;
  font-style: normal;
  font-size: 1.6rem;
}


input {
  padding: 10px 0px 0px 0px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 45px;
  width: 500px;
  font-size: 1.2rem;
  background: #92b4c0;
  border-radius: 8px;
  margin-bottom: 28px;
  color: #2a2828;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  max-width: 120px;
}



@media  screen and (max-width: 1000px) {
  
  ul{
    width: 46%; 
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    margin: 0 auto;
  }

  }


@media  screen and (max-width: 768px) {
  body{
     overflow-x:hidden; 
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  ul{
    width: 50%; 
  }

  .burger div{
    width: 25px;
    height: 4px;
    background-color: #2a2828;
    margin: 5px;
    display: block;
    cursor: pointer;
  }
  ul {
    position: absolute;
    right: 0;
    height: 82vh;
    top: 9vh;
    background-color:#faebd7;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
   
  }

  .nav-active{
    transform: translateX(0%);
  }

  .logo{
    justify-content: center;
    align-items: center;
  }

  .burger.close{
    transform: rotate(180deg);
  }

    .burger.close .line1{
      transform: rotate(45deg) translate(7px, 7px);
  }

  .burger.close .line2{
      opacity: 0;
  }

  .burger.close .line3{
      transform: rotate(-45deg) translate(5px, -5px);
  }

}

@media screen and (max-width: 600px) {

  ul {
    width: 46%;
  }

  .cards {
    grid-template-columns: 1fr ;
    max-width: 300px;
    margin: 0 auto;
  }

}


@media  screen and (max-width: 420px) {
  body{
     overflow-x:hidden; 
  }
  
  .cards {
    grid-template-columns: 1fr;
    margin-top: 25px;
    max-width: 300px;
    
  }
  .card {
    margin: 0 auto;
  }
}